
<div class="content-page">
    <div class="container">
    
    <!-- 蔬菜 -->
    <include file="default:index:class_vegetable" />
    
    <!-- 水果 -->
    <include file="default:index:class_fruit" />
    
    <!-- 五谷 -->
    <include file="default:index:class_grains" />
    
    <!-- 花卉 -->
    <include file="default:index:class_flower" />
    
    <!-- 园林 -->
    <include file="default:index:class_woods" />
    
    <!-- 药材 -->
    <include file="default:index:class_medic" />
    
    <!-- 家禽 -->
    <include file="default:index:class_poultry" />
    
    <!-- 畜牧 -->
    <include file="default:index:class_mofl" />
    
    <!-- 水产 -->
    <include file="default:index:class_aquatic" />
    
    <!-- 广告 -->
    <include file="default:index:class_ads" />
        
    </div>
</div>

