
<a href="#" class="scroll_top" title="Scroll to Top" style="display: inline;">Scroll</a>
<!-- Script-->
<script type="text/javascript" src="__PUBLIC__/Css/lib/jquery/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Css/lib/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Css/lib/select2/js/select2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Css/lib/jquery.bxslider/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Css/lib/owl.carousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Css/lib/jquery.countdown/jquery.countdown.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/jquery.actual.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/theme-script.js"></script>

</body>
</html>