	<div id="nav-top-menu" class="nav-top-menu">
        <div class="container">
            <div class="row">
                <div class="col-sm-3" id="box-vertical-megamenus">
                    <div class="box-vertical-megamenus">
                        <h4 class="title">
                            <span class="title-menu">源产地商品列表</span>
                            <span class="btn-open-mobile pull-right home-page">
                            	<i class="fa fa-bars"></i>
                            </span>
                        </h4>
	                    <div class="vertical-menu-content is-home">
	                        <ul class="vertical-menu-list">
	                            <li>
									<a class="parent"  href="#">
										<img class="icon-menu" alt="Funky roots" src="__PUBLIC__/Images/icon_index/data/1.png">东北地区&nbsp;(黑、吉、辽)
									</a>
									<div class="vertical-dropdown-menu">
	                                    <div class="vertical-groups col-sm-12">
	                                        <div class="mega-group col-sm-4">
	                                            <h4 class="mega-group-header"><span>Tennis</span></h4>
	                                            <ul class="group-link-default">
	                                                <li><a href="#">Tennis</a></li>
	                                                <li><a href="#">Coats &amp; Jackets</a></li>
	                                                <li><a href="#">Blouses &amp; Shirts</a></li>
	                                                <li><a href="#">Tops &amp; Tees</a></li>
	                                                <li><a href="#">Hoodies &amp; Sweatshirts</a></li>
	                                                <li><a href="#">Intimates</a></li>
	                                            </ul>
	                                        </div>
	                                        <div class="mega-group col-sm-4">
	                                            <h4 class="mega-group-header"><span>Swimming</span></h4>
	                                            <ul class="group-link-default">
	                                                <li><a href="#">Dresses</a></li>
	                                                <li><a href="#">Coats &amp; Jackets</a></li>
	                                                <li><a href="#">Blouses &amp; Shirts</a></li>
	                                                <li><a href="#">Tops &amp; Tees</a></li>
	                                                <li><a href="#">Hoodies &amp; Sweatshirts</a></li>
	                                                <li><a href="#">Intimates</a></li>
	                                            </ul>
	                                        </div>
	                                        <div class="mega-group col-sm-4">
	                                            <h4 class="mega-group-header"><span>Shoes</span></h4>
	                                            <ul class="group-link-default">
	                                                <li><a href="#">Dresses</a></li>
	                                                <li><a href="#">Coats &amp; Jackets</a></li>
	                                                <li><a href="#">Blouses &amp; Shirts</a></li>
	                                                <li><a href="#">Tops &amp; Tees</a></li>
	                                                <li><a href="#">Hoodies &amp; Sweatshirts</a></li>
	                                                <li><a href="#">Intimates</a></li>
	                                            </ul>
	                                        </div>
	                                        <div class="mega-custom-html col-sm-12">
	                                            <a href="#"><img src="__PUBLIC__/Images/icon_index/data/banner-megamenu.jpg" alt="Banner"></a>
	                                        </div>
	                                    </div>
	                                </div>
								</li>
								
	                            <li>
	                                <a class="parent" href="#">
	                                	<img class="icon-menu" alt="Funky roots" src="__PUBLIC__/Images/icon_index/data/2.png">华北地区&nbsp;(京、津、冀、晋、蒙)
	                                </a>
	                                <div class="vertical-dropdown-menu">
	                                    <div class="vertical-groups col-sm-12">
	                                        <div class="mega-group col-sm-4">
	                                            <h4 class="mega-group-header"><span>Tennis</span></h4>
	                                            <ul class="group-link-default">
	                                                <li><a href="#">Tennis</a></li>
	                                                <li><a href="#">Coats &amp; Jackets</a></li>
	                                                <li><a href="#">Blouses &amp; Shirts</a></li>
	                                                <li><a href="#">Tops &amp; Tees</a></li>
	                                                <li><a href="#">Hoodies &amp; Sweatshirts</a></li>
	                                                <li><a href="#">Intimates</a></li>
	                                            </ul>
	                                        </div>
	                                        <div class="mega-group col-sm-4">
	                                            <h4 class="mega-group-header"><span>Swimming</span></h4>
	                                            <ul class="group-link-default">
	                                                <li><a href="#">Dresses</a></li>
	                                                <li><a href="#">Coats &amp; Jackets</a></li>
	                                                <li><a href="#">Blouses &amp; Shirts</a></li>
	                                                <li><a href="#">Tops &amp; Tees</a></li>
	                                                <li><a href="#">Hoodies &amp; Sweatshirts</a></li>
	                                                <li><a href="#">Intimates</a></li>
	                                            </ul>
	                                        </div>
	                                        <div class="mega-group col-sm-4">
	                                            <h4 class="mega-group-header"><span>Shoes</span></h4>
	                                            <ul class="group-link-default">
	                                                <li><a href="#">Dresses</a></li>
	                                                <li><a href="#">Coats &amp; Jackets</a></li>
	                                                <li><a href="#">Blouses &amp; Shirts</a></li>
	                                                <li><a href="#">Tops &amp; Tees</a></li>
	                                                <li><a href="#">Hoodies &amp; Sweatshirts</a></li>
	                                                <li><a href="#">Intimates</a></li>
	                                            </ul>
	                                        </div>
	                                        <div class="mega-custom-html col-sm-12">
	                                            <a href="#"><img src="__PUBLIC__/Images/icon_index/data/banner-megamenu.jpg" alt="Banner"></a>
	                                        </div>
	                                    </div>
	                                </div>
	                            </li>
	                            
	                            <li>
	                            	<a class="parent" href="#">
	                            		<img class="icon-menu" alt="Funky roots" src="__PUBLIC__/Images/icon_index/data/3.png">华东地区&nbsp;(鲁、皖、闽、苏浙沪)
	                            	</a>
	                            	<div class="vertical-dropdown-menu">
	                                    <div class="vertical-groups col-sm-12">
	                                        <div class="mega-group col-sm-4">
	                                            <h4 class="mega-group-header"><span>Tennis</span></h4>
	                                            <ul class="group-link-default">
	                                                <li><a href="#">Tennis</a></li>
	                                                <li><a href="#">Coats &amp; Jackets</a></li>
	                                                <li><a href="#">Blouses &amp; Shirts</a></li>
	                                                <li><a href="#">Tops &amp; Tees</a></li>
	                                                <li><a href="#">Hoodies &amp; Sweatshirts</a></li>
	                                                <li><a href="#">Intimates</a></li>
	                                            </ul>
	                                        </div>
	                                        <div class="mega-group col-sm-4">
	                                            <h4 class="mega-group-header"><span>Swimming</span></h4>
	                                            <ul class="group-link-default">
	                                                <li><a href="#">Dresses</a></li>
	                                                <li><a href="#">Coats &amp; Jackets</a></li>
	                                                <li><a href="#">Blouses &amp; Shirts</a></li>
	                                                <li><a href="#">Tops &amp; Tees</a></li>
	                                                <li><a href="#">Hoodies &amp; Sweatshirts</a></li>
	                                                <li><a href="#">Intimates</a></li>
	                                            </ul>
	                                        </div>
	                                        <div class="mega-group col-sm-4">
	                                            <h4 class="mega-group-header"><span>Shoes</span></h4>
	                                            <ul class="group-link-default">
	                                                <li><a href="#">Dresses</a></li>
	                                                <li><a href="#">Coats &amp; Jackets</a></li>
	                                                <li><a href="#">Blouses &amp; Shirts</a></li>
	                                                <li><a href="#">Tops &amp; Tees</a></li>
	                                                <li><a href="#">Hoodies &amp; Sweatshirts</a></li>
	                                                <li><a href="#">Intimates</a></li>
	                                            </ul>
	                                        </div>
	                                        <div class="mega-custom-html col-sm-12">
	                                            <a href="#"><img src="__PUBLIC__/Images/icon_index/data/banner-megamenu.jpg" alt="Banner"></a>
	                                        </div>
	                                    </div>
	                                </div>
	                            	
	                            </li>
	                            
	                            
	                            <li>
	                            	<a class="parent"  href="#">
	                            		<img class="icon-menu" alt="Funky roots" src="__PUBLIC__/Images/icon_index/data/4.png">华中地区&nbsp;(鄂、湘、豫、赣)
	                            	</a>
	                            	<div class="vertical-dropdown-menu">
	                                    <div class="vertical-groups col-sm-12">
	                                        <div class="mega-group col-sm-4">
	                                            <h4 class="mega-group-header"><span>Tennis</span></h4>
	                                            <ul class="group-link-default">
	                                                <li><a href="#">Tennis</a></li>
	                                                <li><a href="#">Coats &amp; Jackets</a></li>
	                                                <li><a href="#">Blouses &amp; Shirts</a></li>
	                                                <li><a href="#">Tops &amp; Tees</a></li>
	                                                <li><a href="#">Hoodies &amp; Sweatshirts</a></li>
	                                                <li><a href="#">Intimates</a></li>
	                                            </ul>
	                                        </div>
	                                        <div class="mega-group col-sm-4">
	                                            <h4 class="mega-group-header"><span>Swimming</span></h4>
	                                            <ul class="group-link-default">
	                                                <li><a href="#">Dresses</a></li>
	                                                <li><a href="#">Coats &amp; Jackets</a></li>
	                                                <li><a href="#">Blouses &amp; Shirts</a></li>
	                                                <li><a href="#">Tops &amp; Tees</a></li>
	                                                <li><a href="#">Hoodies &amp; Sweatshirts</a></li>
	                                                <li><a href="#">Intimates</a></li>
	                                            </ul>
	                                        </div>
	                                        <div class="mega-group col-sm-4">
	                                            <h4 class="mega-group-header"><span>Shoes</span></h4>
	                                            <ul class="group-link-default">
	                                                <li><a href="#">Dresses</a></li>
	                                                <li><a href="#">Coats &amp; Jackets</a></li>
	                                                <li><a href="#">Blouses &amp; Shirts</a></li>
	                                                <li><a href="#">Tops &amp; Tees</a></li>
	                                                <li><a href="#">Hoodies &amp; Sweatshirts</a></li>
	                                                <li><a href="#">Intimates</a></li>
	                                            </ul>
	                                        </div>
	                                        <div class="mega-custom-html col-sm-12">
	                                            <a href="#"><img src="__PUBLIC__/Images/icon_index/data/banner-megamenu.jpg" alt="Banner"></a>
	                                        </div>
	                                    </div>
	                                </div>
	                            </li>
	                            
	                            <li>
	                                <a class="parent" href="#">
	                                	<img class="icon-menu" alt="Funky roots" src="__PUBLIC__/Images/icon_index/data/5.png">华南地区&nbsp;(粤、桂、琼)
	                                </a>
	                                <div class="vertical-dropdown-menu">
	                                        <div class="vertical-groups col-sm-12">
	                                            <div class="mega-group col-sm-12">
	                                                <h4 class="mega-group-header"><span>Special products</span></h4>
	                                                <div class="row mega-products">
	                                                    <div class="col-sm-3 mega-product">
	                                                        <div class="product-avatar">
	                                                            <a href="#"><img src="__PUBLIC__/Images/icon_index/data/p10.jpg" alt="product1"></a>
	                                                        </div>
	                                                        <div class="product-name">
	                                                            <a href="#">Fashion hand bag</a>
	                                                        </div>
	                                                        <div class="product-price">
	                                                            <div class="new-price">$38</div>
	                                                            <div class="old-price">$45</div>
	                                                        </div>
	                                                        <div class="product-star">
	                                                            <i class="fa fa-star"></i>
	                                                            <i class="fa fa-star"></i>
	                                                            <i class="fa fa-star"></i>
	                                                            <i class="fa fa-star"></i>
	                                                            <i class="fa fa-star-half-o"></i>
	                                                        </div>
	                                                    </div>
	                                                    
	                                                    <div class="col-sm-3 mega-product">
	                                                        <div class="product-avatar">
	                                                            <a href="#"><img src="__PUBLIC__/Images/icon_index/data/p11.jpg" alt="product1"></a>
	                                                        </div>
	                                                        <div class="product-name">
	                                                            <a href="#">Fashion hand bag</a>
	                                                        </div>
	                                                        <div class="product-price">
	                                                            <div class="new-price">$38</div>
	                                                            <div class="old-price">$45</div>
	                                                        </div>
	                                                        <div class="product-star">
	                                                            <i class="fa fa-star"></i>
	                                                            <i class="fa fa-star"></i>
	                                                            <i class="fa fa-star"></i>
	                                                            <i class="fa fa-star"></i>
	                                                            <i class="fa fa-star-half-o"></i>
	                                                        </div>
	                                                    </div>
	                                                    
	                                                    <div class="col-sm-3 mega-product">
	                                                        <div class="product-avatar">
	                                                            <a href="#"><img src="__PUBLIC__/Images/icon_index/data/p12.jpg" alt="product1"></a>
	                                                        </div>
	                                                        <div class="product-name">
	                                                            <a href="#">Fashion hand bag</a>
	                                                        </div>
	                                                        <div class="product-price">
	                                                            <div class="new-price">$38</div>
	                                                            <div class="old-price">$45</div>
	                                                        </div>
	                                                        <div class="product-star">
	                                                            <i class="fa fa-star"></i>
	                                                            <i class="fa fa-star"></i>
	                                                            <i class="fa fa-star"></i>
	                                                            <i class="fa fa-star"></i>
	                                                            <i class="fa fa-star-half-o"></i>
	                                                        </div>
	                                                    </div>
	                                                    
	                                                    <div class="col-sm-3 mega-product">
	                                                        <div class="product-avatar">
	                                                            <a href="#"><img src="__PUBLIC__/Images/icon_index/data/p13.jpg" alt="product1"></a>
	                                                        </div>
	                                                        <div class="product-name">
	                                                            <a href="#">Fashion hand bag</a>
	                                                        </div>
	                                                        <div class="product-price">
	                                                            <div class="new-price">$38</div>
	                                                            <div class="old-price">$45</div>
	                                                        </div>
	                                                        <div class="product-star">
	                                                            <i class="fa fa-star"></i>
	                                                            <i class="fa fa-star"></i>
	                                                            <i class="fa fa-star"></i>
	                                                            <i class="fa fa-star"></i>
	                                                            <i class="fa fa-star-half-o"></i>
	                                                        </div>
	                                                    </div>
	                                                    <!-- end col-sm-3 mega-product -->
	                                                    
	                                                </div>
	                                            </div>
	                                        </div>
	                                    </div>
	                            </li>
	                            
	                            <li>
	                            	<a class="parent" href="#"><img class="icon-menu" alt="Funky roots" src="__PUBLIC__/Images/icon_index/data/6.png">西南地区&nbsp;(川、滇、黔、藏、渝)</a>
	                            	<div class="vertical-dropdown-menu">
	                                    <div class="vertical-groups col-sm-12">
	                                        <div class="mega-group col-sm-4">
	                                            <h4 class="mega-group-header"><span>Tennis</span></h4>
	                                            <ul class="group-link-default">
	                                                <li><a href="#">Tennis</a></li>
	                                                <li><a href="#">Coats &amp; Jackets</a></li>
	                                                <li><a href="#">Blouses &amp; Shirts</a></li>
	                                                <li><a href="#">Tops &amp; Tees</a></li>
	                                                <li><a href="#">Hoodies &amp; Sweatshirts</a></li>
	                                                <li><a href="#">Intimates</a></li>
	                                            </ul>
	                                        </div>
	                                        <div class="mega-group col-sm-4">
	                                            <h4 class="mega-group-header"><span>Swimming</span></h4>
	                                            <ul class="group-link-default">
	                                                <li><a href="#">Dresses</a></li>
	                                                <li><a href="#">Coats &amp; Jackets</a></li>
	                                                <li><a href="#">Blouses &amp; Shirts</a></li>
	                                                <li><a href="#">Tops &amp; Tees</a></li>
	                                                <li><a href="#">Hoodies &amp; Sweatshirts</a></li>
	                                                <li><a href="#">Intimates</a></li>
	                                            </ul>
	                                        </div>
	                                        <div class="mega-group col-sm-4">
	                                            <h4 class="mega-group-header"><span>Shoes</span></h4>
	                                            <ul class="group-link-default">
	                                                <li><a href="#">Dresses</a></li>
	                                                <li><a href="#">Coats &amp; Jackets</a></li>
	                                                <li><a href="#">Blouses &amp; Shirts</a></li>
	                                                <li><a href="#">Tops &amp; Tees</a></li>
	                                                <li><a href="#">Hoodies &amp; Sweatshirts</a></li>
	                                                <li><a href="#">Intimates</a></li>
	                                            </ul>
	                                        </div>
	                                        <div class="mega-custom-html col-sm-12">
	                                            <a href="#"><img src="__PUBLIC__/Images/icon_index/data/banner-megamenu.jpg" alt="Banner"></a>
	                                        </div>
	                                    </div>
	                                </div>
	                            </li>
	                            
	                            <li>
	                            	<a class="parent" href="#"><img class="icon-menu" alt="Funky roots" src="__PUBLIC__/Images/icon_index/data/7.png">西北地区&nbsp;(宁、新、陕、青、甘)</a>
	                            	<div class="vertical-dropdown-menu">
	                                    <div class="vertical-groups col-sm-12">
	                                        <div class="mega-group col-sm-4">
	                                            <h4 class="mega-group-header"><span>Tennis</span></h4>
	                                            <ul class="group-link-default">
	                                                <li><a href="#">Tennis</a></li>
	                                                <li><a href="#">Coats &amp; Jackets</a></li>
	                                                <li><a href="#">Blouses &amp; Shirts</a></li>
	                                                <li><a href="#">Tops &amp; Tees</a></li>
	                                                <li><a href="#">Hoodies &amp; Sweatshirts</a></li>
	                                                <li><a href="#">Intimates</a></li>
	                                            </ul>
	                                        </div>
	                                        <div class="mega-group col-sm-4">
	                                            <h4 class="mega-group-header"><span>Swimming</span></h4>
	                                            <ul class="group-link-default">
	                                                <li><a href="#">Dresses</a></li>
	                                                <li><a href="#">Coats &amp; Jackets</a></li>
	                                                <li><a href="#">Blouses &amp; Shirts</a></li>
	                                                <li><a href="#">Tops &amp; Tees</a></li>
	                                                <li><a href="#">Hoodies &amp; Sweatshirts</a></li>
	                                                <li><a href="#">Intimates</a></li>
	                                            </ul>
	                                        </div>
	                                        <div class="mega-group col-sm-4">
	                                            <h4 class="mega-group-header"><span>Shoes</span></h4>
	                                            <ul class="group-link-default">
	                                                <li><a href="#">Dresses</a></li>
	                                                <li><a href="#">Coats &amp; Jackets</a></li>
	                                                <li><a href="#">Blouses &amp; Shirts</a></li>
	                                                <li><a href="#">Tops &amp; Tees</a></li>
	                                                <li><a href="#">Hoodies &amp; Sweatshirts</a></li>
	                                                <li><a href="#">Intimates</a></li>
	                                            </ul>
	                                        </div>
	                                        <div class="mega-custom-html col-sm-12">
	                                            <a href="#"><img src="__PUBLIC__/Images/icon_index/data/banner-megamenu.jpg" alt="Banner"></a>
	                                        </div>
	                                    </div>
	                                </div>
	                            </li>
	                            
	                            <li><a class="parent" href="#"><img class="icon-menu" alt="Funky roots" src="__PUBLIC__/Images/icon_index/data/8.png">台港澳地区&nbsp;(港、澳、台)</a></li>
	                           
	                            <li>
	                            	<a class="parent" href="#">
	                            		<img class="icon-menu" alt="Funky roots" src="__PUBLIC__/Images/icon_index/data/9.png">热门&nbsp;&nbsp;蔬菜&nbsp;&nbsp;水果&nbsp;&nbsp;五谷&nbsp;&nbsp;<img class="icon-menu" alt="Funky roots" src="__PUBLIC__/Images/icon_index/data/9.png">
	                            	</a>
	                            </li>
	                            
	                            <li>
	                            	<a class="parent" href="#">
	                            		<img class="icon-menu" alt="Funky roots" src="__PUBLIC__/Images/icon_index/data/10.png">热门&nbsp;&nbsp;花卉&nbsp;&nbsp;园林&nbsp;&nbsp;药材&nbsp;&nbsp;<img class="icon-menu" alt="Funky roots" src="__PUBLIC__/Images/icon_index/data/10.png">
	                            	</a>
	                            </li>
	                            
	                            <li>
	                                <a href="#">
	                                    <img class="icon-menu" alt="Funky roots" src="__PUBLIC__/Images/icon_index/data/11.png">热门&nbsp;&nbsp;家禽&nbsp;&nbsp;畜牧&nbsp;&nbsp;水产&nbsp;&nbsp;<img class="icon-menu" alt="Funky roots" src="__PUBLIC__/Images/icon_index/data/11.png">
	                                   
	                                </a>
	                            </li>
	                            
	                            <li class="cat-link-orther">
	                                <a href="#">
	                                    <img class="icon-menu" alt="Funky roots" src="__PUBLIC__/Images/icon_index/data/5.png">
	                                    Television
	                                </a>
	                            </li>
	                            
	                            <li class="cat-link-orther">
	                                <a href="#">
	                                    <img class="icon-menu" alt="Funky roots" src="__PUBLIC__/Images/icon_index/data/7.png">Computers &amp; Networking
	                                </a>
	                            </li>
	                            
	                            <li class="cat-link-orther">
	                                <a href="#">
	                                    <img class="icon-menu" alt="Funky roots" src="__PUBLIC__/Images/icon_index/data/6.png">
	                                    Toys &amp; Hobbies
	                                </a>
	                            </li>
	                            <li class="cat-link-orther">
	                            <a href="#"><img class="icon-menu" alt="Funky roots" src="__PUBLIC__/Images/icon_index/data/9.png">Jewelry &amp; Watches</a></li>
	                        </ul>
	                        <div class="all-category"><span class="open-cate">更多</span></div>
	                    </div>
	                </div>
                </div>
                
                <div id="main-menu" class="col-sm-9 main-menu">
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    <i class="fa fa-bars"></i>
                                </button>
                                <a class="navbar-brand" href="#">s</a>
                            </div>
                            <div id="navbar" class="navbar-collapse collapse">
                                <ul class="nav navbar-nav">
                                    <li class="active"><a href="#">首页</a></li>
                                    <li class="dropdown">
                                        <a href="category.html" class="dropdown-toggle" data-toggle="dropdown">蔬菜</a>
                                        <ul class="dropdown-menu mega_dropdown" role="menu" style="width: 830px;">
                                            <li class="block-container col-sm-3">
                                                <ul class="block">
                                                    <li class="img_container">
                                                        <a href="#">
                                                            <img class="img-responsive" src="__PUBLIC__/Images/icon_index/data/men.png" alt="sport">
                                                        </a>
                                                    </li>
                                                    <li class="link_container group_header">
                                                        <a href="#">MEN'S</a>
                                                    </li>
                                                    <li class="link_container"><a href="#">Skirts</a></li>
                                                    <li class="link_container"><a href="#">Jackets</a></li>
                                                    <li class="link_container"><a href="#">Tops</a></li>
                                                    <li class="link_container"><a href="#">Scarves</a></li>
                                                    <li class="link_container"><a href="#">Pants</a></li>
                                                </ul>
                                            </li>
                                             <li class="block-container col-sm-3">
                                                <ul class="block">
                                                    <li class="img_container">
                                                        <a href="#">
                                                            <img class="img-responsive" src="__PUBLIC__/Images/icon_index/data/women.png" alt="sport">
                                                        </a>
                                                    </li>
                                                    <li class="link_container group_header">
                                                        <a href="#">WOMEN'S</a>
                                                    </li>
                                                    <li class="link_container"><a href="#">Skirts</a></li>
                                                    <li class="link_container"><a href="#">Jackets</a></li>
                                                    <li class="link_container"><a href="#">Tops</a></li>
                                                    <li class="link_container"><a href="#">Scarves</a></li>
                                                    <li class="link_container"><a href="#">Pants</a></li>
                                                </ul>
                                            </li>
                                             <li class="block-container col-sm-3">
                                                <ul class="block">
                                                    <li class="img_container">
                                                        <a href="#">
                                                            <img class="img-responsive" src="__PUBLIC__/Images/icon_index/data/kid.png" alt="sport">
                                                        </a>
                                                    </li>
                                                    <li class="link_container group_header">
                                                        <a href="#">Kids</a>
                                                    </li>
                                                    <li class="link_container"><a href="#">Shoes</a></li>
                                                    <li class="link_container"><a href="#">Clothing</a></li>
                                                    <li class="link_container"><a href="#">Tops</a></li>
                                                    <li class="link_container"><a href="#">Scarves</a></li>
                                                    <li class="link_container"><a href="#">Accessories</a></li>
                                                </ul>
                                            </li>
                                             <li class="block-container col-sm-3">
                                                <ul class="block">
                                                    <li class="img_container">
                                                        <a href="#">
                                                            <img class="img-responsive" src="__PUBLIC__/Images/icon_index/data/trending.png" alt="sport">
                                                        </a>
                                                    </li>
                                                    <li class="link_container group_header">
                                                        <a href="#">TRENDING</a>
                                                    </li>
                                                    <li class="link_container"><a href="#">Men's Clothing</a></li>
                                                    <li class="link_container"><a href="#">Kid's Clothing</a></li>
                                                    <li class="link_container"><a href="#">Women's Clothing</a></li>
                                                    <li class="link_container"><a href="#">Accessories</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    
                                    <li><a href="category.html" class="dropdown-toggle" data-toggle="dropdown">水果</a></li>
                                    
                                    <li class="dropdown">
                                        <a href="category.html" class="dropdown-toggle" data-toggle="dropdown">五谷</a>
                                            <ul class="mega_dropdown dropdown-menu" style="width: 830px;">
                                            <li class="block-container col-sm-3">
                                                <ul class="block">
                                                    <li class="link_container group_header">
                                                        <a href="#">Asian</a>
                                                    </li>
                                                    <li class="link_container">
                                                        <a href="#">Vietnamese Pho</a>
                                                    </li>
                                                    <li class="link_container">
                                                        <a href="#">Noodles</a>
                                                    </li>
                                                    <li class="link_container">
                                                        <a href="#">Seafood</a>
                                                    </li>
                                                    <li class="link_container group_header">
                                                        <a href="#">Sausages</a>
                                                    </li>
                                                    <li class="link_container">
                                                        <a href="#">Meat Dishes</a>
                                                    </li>
                                                    <li class="link_container">
                                                        <a href="#">Desserts</a>
                                                    </li>
                                                    <li class="link_container">
                                                        <a href="#">Tops</a>
                                                    </li>
                                                    <li class="link_container">
                                                        <a href="#">Tops</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="block-container col-sm-3">
                                                <ul class="block">
                                                    <li class="link_container group_header">
                                                        <a href="#">European</a>
                                                    </li>
                                                    <li class="link_container">
                                                        <a href="#">Greek Potatoes</a>
                                                    </li>
                                                    <li class="link_container">
                                                        <a href="#">Famous Spaghetti</a>
                                                    </li>
                                                    <li class="link_container">
                                                        <a href="#">Famous Spaghetti</a>
                                                    </li>
                                                    <li class="link_container group_header">
                                                        <a href="#">Chicken</a>
                                                    </li>
                                                    <li class="link_container">
                                                        <a href="#">Italian Pizza</a>
                                                    </li>
                                                    <li class="link_container">
                                                        <a href="#">French Cakes</a>
                                                    </li>
                                                    <li class="link_container">
                                                        <a href="#">Tops</a>
                                                    </li>
                                                    <li class="link_container">
                                                        <a href="#">Tops</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="block-container col-sm-3">
                                                <ul class="block">
                                                    <li class="link_container group_header">
                                                        <a href="#">FAST</a>
                                                    </li>
                                                    <li class="link_container">
                                                        <a href="#">Hamberger</a>
                                                    </li>
                                                    <li class="link_container">
                                                        <a href="#">Pizza</a>
                                                    </li>
                                                    <li class="link_container">
                                                        <a href="#">Noodles</a>
                                                    </li>
                                                    <li class="link_container group_header">
                                                        <a href="#">Sandwich</a>
                                                    </li>
                                                    <li class="link_container">
                                                        <a href="#">Salad</a>
                                                    </li>
                                                    <li class="link_container">
                                                        <a href="#">Paste</a>
                                                    </li>
                                                    <li class="link_container">
                                                        <a href="#">Tops</a>
                                                    </li>
                                                    <li class="link_container">
                                                        <a href="#">Tops</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="block-container col-sm-3">
                                                <ul class="block">
                                                    <li class="img_container">
                                                        <img src="__PUBLIC__/Images/icon_index/data/banner-topmenu.jpg" alt="Banner">
                                                    </li>
                                                </ul>
                                            </li>

                                        </ul>
                                    </li>
                                    
                                    <li class="dropdown">
                                        <a href="category.html" class="dropdown-toggle" data-toggle="dropdown">花卉</a>
                                        <ul class="dropdown-menu container-fluid">
                                            <li class="block-container">
                                                <ul class="block">
                                                    <li class="link_container"><a href="#">Mobile</a></li>
                                                    <li class="link_container"><a href="#">Tablets</a></li>
                                                    <li class="link_container"><a href="#">Laptop</a></li>
                                                    <li class="link_container"><a href="#">Memory Cards</a></li>
                                                    <li class="link_container"><a href="#">Accessories</a></li>
                                                </ul>
                                            </li>
                                        </ul> 
                                    </li>
                                    
                                    <li><a href="category.html">园林</a></li>
                                    <li><a href="category.html">药材</a></li>
									<li><a href="category.html">家禽</a></li>
									<li><a href="category.html">畜牧</a></li>
									<li><a href="category.html">水产</a></li>
									
                                    
                                </ul>
                            </div><!--/.nav-collapse -->
                        </div>
                    </nav>
                </div>
            </div>
            <!-- userinfo on top-->
            <div id="form-search-opntop">
            </div>
            <!-- userinfo on top-->
            <div id="user-info-opntop">
            </div>
            <!-- CART ICON ON MMENU -->
            <div id="shopping-cart-box-ontop">
                <i class="fa fa-shopping-cart"></i>
                <div class="shopping-cart-box-ontop-content"></div>
            </div>
        </div>
    </div>
    <!-- end menu -->
    
</div>
