<!-- servives -->
<div class="container">
    <div class="service ">
        <div class="col-xs-6 col-sm-3 service-item">
            <div class="icon">
                <img alt="services" src="__PUBLIC__/Images/icon_index/data/s1.png" />
            </div>
            <div class="info">
                <a href="#"><h3>优惠团购</h3></a>
                <span>快速绿色通道</span>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 service-item">
            <div class="icon">
                <img alt="services" src="__PUBLIC__/Images/icon_index/data/s2.png" />
            </div>
            <div class="info">
                <a href="#"><h3>30-天 不满意退货</h3></a>
                <span>无条件退货</span>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 service-item">
            <div class="icon">
                <img alt="services" src="__PUBLIC__/Images/icon_index/data/s3.png" />
            </div>
            
            <div class="info" >
                <a href="#"><h3>24/7 在线服务</h3></a>
                <span>不间断服务</span>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 service-item">
            <div class="icon">
                <img alt="services" src="__PUBLIC__/Images/icon_index/data/s4.png" />
            </div>
            <div class="info">
                <a href="#"><h3>售后保障</h3></a>
                <span>一切尽在掌握</span>
            </div>
        </div>
    </div>
</div>
<!-- end services -->