<!-- Home slideder-->
<div id="home-slider">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 slider-left"></div>
            <div class="col-sm-9 header-top-right">
                <div class="homeslider">
                    <div class="content-slide">
                        <ul id="contenhomeslider">
                          <li><img alt="Funky roots" src="__PUBLIC__/Images/icon_index/data/slider1.jpg" title="花菜" /></li>
                          <li><img alt="Funky roots" src="__PUBLIC__/Images/icon_index/data/slider2.jpg" title="红萝卜" /></li>
                          <li><img  alt="Funky roots" src="__PUBLIC__/Images/icon_index/data/slider3.jpg" title="黄瓜" /></li>
                          <li><img  alt="Funky roots" src="__PUBLIC__/Images/icon_index/data/slider4.jpg" title="茄子" /></li>
                          <li><img  alt="Funky roots" src="__PUBLIC__/Images/icon_index/data/slider5.jpg" title="四季豆" /></li>
                        	<li><img  alt="Funky roots" src="__PUBLIC__/Images/icon_index/data/slider6.jpg" title="丝瓜" /></li>
                        </ul>
                    </div>
                </div>
                <div class="header-banner banner-opacity">
                    <a href="#"><img alt="Funky roots" src="__PUBLIC__/Images/icon_index/data/slider7.jpg" /></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END Home slideder-->