
<!-- TOP BANNER -->
<!--<div id="top-banner" class="top-banner">
    <div class="bg-overlay"></div>
    <div class="container">
        <h1>Special Offer!</h1>
        <h2>Additional 40% OFF For Men & Women Clothings</h2>
        <span>This offer is for online only 7PM to middnight ends in 30th July 2015</span>
        <span class="btn-close"></span>
    </div>
</div>-->

<!-- HEADER -->
<div id="header" class="header">
   
   <div class="top-header">
        <div class="container">
        	
        	<div class="nav-top-links">
				<a class="first-item" href="#">亲，请登陆</a>
				<a href="#">免费注册</a>				
			</div>
			<!-- end nav-top-links -->        	
        
            <div class="nav-top-links">                
                <a href="#"><img alt="email" src="__PUBLIC__/Images/icon_index/email.png" />消息</a>
            	<a  href="#"><img alt="phone" src="__PUBLIC__/Images/icon_index/phone.png" />手机购物</a>
            </div>
            
            <!-- 
            <div class="currency ">
                <div class="dropdown">
                      <a class="current-open" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">USD</a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Dollar</a></li>
                        <li><a href="#">Euro</a></li>
                      </ul>
                </div>
            </div>
            
            
            <div class="language ">
                <div class="dropdown">
                      <a class="current-open" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                      <img alt="email" src="__PUBLIC__/Images/icon_index/fr.jpg" />French
                      
                      </a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#"><img alt="email" src="__PUBLIC__/Images/icon_index/en.jpg" />English</a></li>
                        <li><a href="#"><img alt="email" src="__PUBLIC__/Images/icon_index/fr.jpg" />French</a></li>
                    </ul>
                </div>
            </div>
             -->
             
           	<div class="support-link">
           		
				<a href="#">网站地图</a>
                <a href="#">联系客服</a>
			</div>
			<!-- end support-link -->
			
			<!--
			<div id="user-info-top" class="user-info pull-right">
				<div class="dropdown">
                    <a class="current-open" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                    	<span>卖家中心</span>
                    </a>
                    <ul class="dropdown-menu mega_dropdown" role="menu">
                        <li><a href="login.html">免费开店</a></li>
                        <li><a href="#">已卖出的商品</a></li>
                        <li><a href="#">销售中的商品</a></li>
                    </ul>
                </div>
			</div>
			-->
			<!-- end user-info-top -->
			
			<!-- 
			<div id="user-info-top" class="user-info pull-right">
				<div class="dropdown">
                    <a class="current-open" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                    	<span>商品分类</span>
                    </a>
                    <ul class="dropdown-menu mega_dropdown" role="menu">
                        <li><a href="login.html">蔬菜</a></li>
                        <li><a href="#">水果</a></li>
                        <li><a href="#">花卉</a></li>
                        <li><a href="#">园林</a></li>
                        <li><a href="#">药材</a></li>
                        <li><a href="#">干货</a></li>
                        <li><a href="#">家禽</a></li>
                        <li><a href="#">畜牧</a></li>
                        <li><a href="#">水产</a></li>
                        
                    </ul>
                </div>
			</div>
			 -->
			<!-- end user-info-top -->
			
			<!--
			<div id="user-info-top" class="user-info pull-right">
				<div class="dropdown">
                    <a class="current-open" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#"><span>收藏夹</span></a>
                    <ul class="dropdown-menu mega_dropdown" role="menu">
                        <li><a href="login.html">收藏的商品</a></li>
                        <li><a href="#">收藏的店铺</a></li>
                        
                    </ul>
                </div>
			</div>
			-->
			<!-- end user-info-top -->
			
			<!-- 
			<div id="user-info-top" class="user-info pull-right">
				<div class="dropdown">
                    <a class="current-open" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                    	<span>购物车</span>
                    </a>
                    <ul class="dropdown-menu mega_dropdown" role="menu">
                        <li><a href="#">查看我的购物车</a></li>
                        
                    </ul>
                </div>
			</div>
			 -->
			<!-- end user-info-top -->
			
			<div id="user-info-top" class="user-info pull-right">
				<div class="dropdown">
                    <a class="current-open" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                    	<span>我的账号</span>
                    </a>
                   
                    <ul class="dropdown-menu mega_dropdown" role="menu">
                    	
                    	<li><a href="#">个人信息</a></li>
                        <li><a href="#">已买到的商品</a></li>
                        <li><a href="#">浏览过的店铺</a></li>
                        
                    </ul>
                </div>
			</div>
			<!-- end user-info-top -->
			
		</div>
		<!-- end container -->	
	</div>
	<!-- end top-header -->	